.about {
	height: 100vh;
	position: relative;
	/* margin: 1rem auto; */
}
/* .about .text__container {
	margin: 1rem;
} */

.about .text__container p {
	margin: 2rem 0;
}

@media (max-width: 768px) {
	.about .text__container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.about .img__container {
		display: none;
	}
}
@media (min-width: 769px) {
	.about__flex {
		/* height: 100vh; */
		display: flex;
		/* justify-content: center; */
	}
	.about .img__container,
	.about .text__container {
		width: 50%;
		/* margin: 0 2rem; */
	}
	.about .text__container {
		align-self: center;
		padding: 0 1rem;
		text-align: left;
	}
	.about .img__container {
		display: block;
		height: 80vh;
	}
	.about .img__container img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
