.care {
	position: relative;
}
/* .care__pretattoo,
.care__posttattoo,
.care__products {
	position: relative;
} */
/* .pretattoo__text,
.posttattoo__text,
.products__text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
} */
/* .pretattoo__text ul,
.posttattoo__text ul,
.products__text ul {
	text-align: left;
} */
.care em {
	font-weight: bold;
}
.care ul {
	text-align: left;
}
.care ul li {
	margin: 0.5rem 0;
}
.care__products--danger {
	color: #a30500;
	margin: 0 2rem;
}
/* .products__dontuse {
	margin: 0 2rem;
} */
.products__dontuse li {
	margin: 0 1rem;
}
/* @media (max-width: 768px) {
	
} */
@media (min-width: 769px) {
	/* .care__tattoo {
		height: 100vh;
	} */
	/* .care__preposttattoo {
		display: flex;
	}
	.care__pretattoo,
	.care__posttattoo {
		margin: 1rem;
		width: 50rem;
	} */
	/* .care__products {
		position: relative;
		height: 100vh;
		
	} */
	/* .care__products > p {
		transform: translateY(8rem);
	}
	.care__products ul:nth-child(2) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	} */
	/* .products__dontuse {
		columns: 2;
	} */
}
@media (min-width: 1024px) {
	.care {
		padding-bottom: 8rem;
	}
	.care__global {
		display: flex;
	}
	.care__pretattoo,
	.care__posttattoo {
		width: 50%;
	}
	.care__products {
		width: 40vw;
		position: absolute;
		bottom: 0;
		border-radius: 1rem;
		background: #7b6766;
		z-index: 100;
		color: #fff;
		padding: 1rem 2rem;
	}
	.care .products__text {
		position: relative;
	}
	.care .products__text p,
	.care .products__text li {
		font-size: 0.8rem;
	}
	.care .products__text li {
		margin: 0;
	}
	.care .products__text h3 {
		position: absolute;
		right: 3rem;
		bottom: 0;
		font-size: 1.3rem;
		font-family: "Philosopher", sans-serif;
	}
	.care__title {
		margin-bottom: 2rem;
		padding: 2rem 0;
		background-color: #1e0c08;
		color: #fff;
	}
	.care .products__dontuse li {
		margin: 0 1rem;
	}
	.care__products--danger {
		color: #fff;
		text-decoration: underline #a30500;
	}
}
