/* .care {
	margin: 1rem;
} */
.care__pretattoo,
.care__posttattoo,
.care__products {
	height: 100vh;
	position: relative;
}
.pretattoo__text,
.posttattoo__text,
.products__text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
/* .pretattoo__text ul,
.posttattoo__text ul,
.products__text ul {
	text-align: left;
} */
.care em {
	font-weight: bold;
}
.care ul {
	text-align: left;
}
.care ul li {
	margin: 0.5rem 0;
}
.care__products--danger {
	color: #a30500;
	margin: 0.5rem 2rem 2rem 2rem;
}
.products__dontuse {
	margin: 0 2rem;
}
.products__dontuse li {
	list-style: inside;
}
/* @media (max-width: 768px) {
	
} */
@media (min-width: 769px) {
	/* .care__tattoo {
		height: 100vh;
	} */
	/* .care__preposttattoo {
		display: flex;
	}
	.care__pretattoo,
	.care__posttattoo {
		margin: 1rem;
		width: 50rem;
	} */
	/* .care__products {
		position: relative;
		height: 100vh;
		
	} */
	/* .care__products > p {
		transform: translateY(8rem);
	}
	.care__products ul:nth-child(2) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	} */
	/* .products__dontuse {
		columns: 2;
	} */
}
/* @media (min-width: 1024px) {
	.warning__text ul {
		font-size: 1.2rem;
	}
} */
