.header__section {
	position: relative;
}
header {
	width: 100%;
}
.header__section img {
	width: 100%;
}
header ul li {
	border-bottom: solid 1px;
}

@media (min-width: 426px) {
	header {
		position: absolute;
		top: 0;
		padding: 1rem 0;
	}
	header nav a {
		color: #fff;
	}
	header ul {
		display: flex;
		justify-content: space-around;
	}
	header ul li {
		border-bottom: initial;
	}
}
