.header__section {
	position: relative;
	height: 100vh;
}
header {
	width: 100%;
	position: absolute;
	top: 0;
	/* padding: 1rem 0; */
}
.header__section img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
header nav li {
	font-family: "Philosopher", sans-serif;
}
header nav a {
	color: #fff;
}

@media (min-width: 425px) {
	header nav {
		padding: 1rem 0;
	}
	header ul {
		display: flex;
		justify-content: space-around;
	}
	/* header ul li {
		border-bottom: initial;
	} */
}
