.infos .warning__img {
	display: none;
	/* width: 20rem; */
	/* height: 25rem;
	background-color: lightgray; */
}

@media (min-width: 768px) {
	.infos .warning {
		display: flex;
		justify-content: center;
		height: 700px;
	}
	.infos .warning__text {
		align-self: center;
		padding: 0 1rem;
		text-align: left;
	}
	.infos .warning__img {
		display: block;
	}
	.infos .warning__img img {
		height: 100%;
		width: 50vw;
		object-fit: cover;
	}
	.infos .care__preposttattoo {
		display: flex;
	}
}
