.frise__container {
	display: none;
}
.single__step {
	margin: 1rem auto;
}
@media (max-width: 767px) {
	.steps {
		margin: 1rem;
	}
	.single__step {
		margin: 1rem auto;
	}
}
@media (min-width: 425px) {
	.steps .frise {
		position: relative;
		border: solid 1px;
		align-self: center;
	}
	.frise__container {
		display: flex;
		justify-content: center;
		margin: 1rem auto;
	}
	.frise {
		width: 14vw;
	}
	.frise__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 0;
		width: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid black;
		right: -0.7rem;
		z-index: 500;
	}
	.arrow__inner {
		border-left: 10px solid white;
		right: 0.1rem;
		top: 0.01rem;
	}
	.frise__text {
		height: 6rem;
	}
	.frise__text p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
