.steps {
	margin: 0 2rem;
}
.frise__container {
	width: 60vw;
	margin: 1rem auto;
}

.single__step h3 {
	color: #6a2702;
}

.step__bloc {
	/* height: 100vh; */
	position: relative;
}
/* .frise__container {
	display: none;
} */
/* .steps__container {
	margin: 1rem;
} */
/* .frise__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */
.frise__arrow {
	position: absolute;
	height: 0;
	width: 0;
	z-index: 500;
	/* border-right: 30vw solid transparent;
	border-top: 20px solid black;
	border-left: 30vw solid transparent;
	bottom: -22px;
	left: 50%;
	transform: translateX(-50%); */
}
/* .steps li {
	margin: 1rem 0;
} */
.single__step {
	margin: 1rem 0;
}
.single__step p {
	margin: 1rem auto;
}
.single__step ul {
	text-align: left;
	margin: 1rem 0;
}
.steps__cancel {
	color: #a30500;
	margin-top: 1rem;
}
/* .step__bloc--position {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
} */
/* @media (max-width: 649px) {
	#step__bloc--smallscreen {
		height: initial;
	}
} */
.steps .frise {
	position: relative;
	border: solid 1px;
	background-color: #ede9e8;
}
/* .arrow__inner {
	background-color: #ede9e8;
} */
/* .frise {
	width: 50vw;
} */
/* .frise:nth-child(1) {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.frise:nth-last-child(-n + 1) {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
} */

.frise__text {
	height: 6rem;
}
.frise__text p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
	font-family: "Philosopher", sans-serif;
}
/*}*/

@media (max-width: 767px) {
	.steps .frise {
		border-bottom: transparent;
	}
	.frise__arrow {
		position: absolute;
		height: 0;
		width: 0;
		z-index: 500;
		border-right: 30vw solid transparent;
		border-top: 10px solid black;
		border-left: 30vw solid transparent;
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%);
	}
	.arrow__inner {
		border-top: 10px solid #ede9e8;
		right: 0.1rem;
		bottom: 0.1rem;
	}
	.single__step {
		margin: 1rem auto;
	}
	.frise__text p {
		transform: translate(-50%, -20%);
	}
}
@media (min-width: 768px) {
	.frise__container {
		display: flex;
		justify-content: center;
		width: 88vw;
	}
	.frise {
		width: 100%;
	}
	.frise__arrow {
		right: -1.1rem;
		border-top: 3.1rem solid transparent;
		border-bottom: 3.1rem solid transparent;
		border-left: 1rem solid #000;
		top: 0;
	}
	.arrow__inner {
		border-left: 1rem solid #ede9e8;
		right: 0.1rem;
		top: -3.1rem;
	}
	.step__bloc--flex {
		display: flex;
		justify-content: space-between;
	}
	.step__bloc--flex > div {
		width: 50%;
	}
	/* .step__bloc:nth-child(3) .single__step {
		width: 49vw;
	} */
	.single__step--flex {
		display: flex;
		text-align: left;
	}
	.single__step--flex li {
		margin: 1rem 0;
	}
	.single__step--flex li p {
		margin: 0.5rem 1.5rem;
	}
	.single__step ul {
		text-align: left;
		margin: 1rem 0 0 2rem;
	}
}
@media (min-width: 1024px) {
	.steps {
		margin: 0 4rem;
	}
	.step__bloc--flex > div {
		width: 45%;
		text-align: left;
	}
}
@media (min-width: 1300px) {
	.frise__container {
		margin: 1rem auto 4rem auto;
	}
}
