@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap"); */
/* font-family: 'Philosopher', sans-serif; */
.App {
	text-align: center;
}
h1 {
	font-size: 2.5rem;
	margin: 2rem auto;
	font-family: "Philosopher", sans-serif;
}
h2 {
	font-size: 1.5rem;
	font-family: "Philosopher", sans-serif;
}
p,
li {
	font-size: 0.9rem;
}
/* .about__title {
	font-family: "Philosopher", sans-serif;
	font-size: 1.5rem;
} */

@media (min-width: 768px) {
	.section__separate {
		height: 5rem;
		background-color: transparent;
	}
	h2 {
		margin-bottom: 2rem;
	}
}

@media (min-width: 1024px) {
	p,
	li {
		font-size: 1rem;
	}
	h2 {
		font-size: 2rem;
	}
}
@media (min-width: 1200px) {
	p,
	li {
		font-size: 1.1rem;
	}
}
@media (min-width: 1440px) {
	p,
	li {
		font-size: 1.2rem;
	}
}
